<!DOCTYPE html>
<html>
<head>
  <title>CoalescingPanda</title>
  <%= stylesheet_link_tag    "coalescing_panda/application", media: "all" %>
  <%= javascript_include_tag "coalescing_panda/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
